body{
    margin: 0%;
}
h1{
    size: 100px;
    color: red;
    font-style: italic;
}
.name-highlight{
    color: aqua;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

    
    

section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(lightSalmon ,tomato) ;
    background-color: chocolate;
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}